* {
  box-sizing: border-box;
  margin: 0 ;
  padding: 0;
}


body {
  margin: 0 auto;
  background-color: rgb(131, 64, 19);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
.wrapper {
  min-height: 100vh;
  display: flex;

}

nav {
  display: flex;
  background-color: rgb(252, 226, 186);
  list-style: none;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  border-right: 2px solid grey;
  box-shadow: 19px 0px 12px rgb(0 0 0 / 38%);
}

.information {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #d6d5d5;
  text-transform: uppercase;

}
nav a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  color: #333333;
  font-weight: 500;
}


nav li {
  width: 100%;
  text-align: center;
  border: 1px solid #33333341;
  padding: 20px;
}

nav li:hover a {
  color: #ffffff;
}
nav li:hover {
  background-color: black;
  cursor: pointer;
}